@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500; 0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*---TUDO DO HEADER-----------------------------------------------*/
header {
    background-color: #08bcff;
    padding: 15px;
}

.pata_header{
    width: 25px;
    height: 25px;
}

.logo{
    border-radius: 30px;
    height: 60px;
    width: 60px;
    
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

nav a {
    color: black;
    text-decoration: none;
    font-family: "Almarai", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 25px;
    
}

nav a:hover {
    color: rgb(255, 255, 255);
}

/*-----------------------------------------------------------------------------------*/

/*---BOX 01--------------------------------------------------------------------------*/
.box_01 {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
}

.slogan_texto {
    flex: 1;
    padding: 20px;
}

.slogan_texto h1 {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 70px;
    color: #0F1819;
    margin-top: 50px;
}

.slogan_texto a {
    text-decoration: none;
    text-align: center;
    color: #000;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-top: 150px;
    background: linear-gradient(65deg, #004AAD, #05e9ff);
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    display: block;
    width: 200px;
    height: 70px;
    line-height: 49px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.slogan_texto a:hover {
    background-image: linear-gradient(to right, #05e9ff, #004AAD);
    transform: scale(1.05);
    color: #fff;
}

.slogan_img {
    flex: 1;
    padding: 20px;
    text-align: right;
    margin-top: 50px;
}

.slogan_img img {
    max-width: 100%;
    height: auto;
    border-radius: 50px;    
    box-shadow: #45e8f7 -15px 20px 50px 15px;
    margin-left: 50px;
}
/*-----------------------------------------------------------------------------------*/

/*----BOX 02-------------------------------------------------------------------------*/

.box_02 {
    display: flex;
    max-width: auto;
    margin: 0 auto;
    margin-top: 140px;
    flex-direction: column;
    align-items: center;
    background-color: #101728;
}

.box_02_titulo {
    margin-top: 50px;
    align-items: center;
    font-family: "Roboto", sans-serif;
    color: #fff;
    font-size: 50px;
    
}

.efeitoPatas {
    color: #9340FF;
}

.box_02_texto {
    width: 1000px;
    margin-top: 50px;
    text-align: center;
}
.box_02_texto p {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    line-height:2;
    font-size: 25px;
}

.box_02_img img {
    margin-top: 50px;
    border-radius: 50px;
}
/*-----------------------------------------------------------------------------------*/

/*----BOX 03-------------------------------------------------------------------------*/

.box_03 {
    max-width: auto;
    display: flex;
    background-color: #101728;
}

.box_03_conteudo{
    display: flex;
    margin-top: 80px;
    margin-left: 100px;
    margin-right: 100px;
}

.box_03_texto {
    margin-top: 2px;
}

.box_03_texto h3 {
    font-size: 70px;
    color: #9340FF;
    padding: 30px;
    margin-left: -40px;
}

.box_03_texto p {
    margin-top: 50px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    line-height:1.5;
    font-size: 22px;
    width: 1000px;
}

.box_03_img img {
    width: 600px;
    height: 600px;
    border-radius: 50px;
}
/*-----------------------------------------------------------------------------------*/

/*----BOX 04-------------------------------------------------------------------------*/
.box_04 {
    max-width: auto;
    display: flex;
    background-color: #101728;
}

.box_04_conteudo{
    display: flex;
    margin-top: 80px;
    margin-left: 100px;
    margin-right: 100px;
}

.box_04_texto {
    margin-top: 60px;
    margin-left: 110px;
    width: 700px;
}

.box_04_texto h3 {
    font-size: 70px;
    color: #9340FF;
    padding: 30px;
    margin-left: -40px;
}

.box_04_texto p {
    margin-top: 50px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    line-height:1.5;
    font-size: 22px;
    width: 1000px;
}

.box_04_img img {
    width: 600px;
    height: 600px;
    border-radius: 50px;
}
/*-----------------------------------------------------------------------------------*/

/*----BOX 05-------------------------------------------------------------------------*/
.box_05 {
    max-width: auto;
    display: flex;
    background-color: #101728;
}

.box_05_conteudo{
    display: flex;
    margin-top: 80px;
    margin-left: 100px;
    margin-right: 100px;
}

.box_05_texto {
    margin-top: 100px;
    
}

.box_05_texto h3 {
    font-size: 70px;
    color: #9340FF;
    padding: 30px;
    margin-left: -40px;
}

.box_05_texto p {
    margin-top: 50px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    line-height:1.5;
    font-size: 22px;
    width: 1000px;
}

.box_05_img img {
    width: 600px;
    height: 600px;
    border-radius: 50px;
    margin-left: 100px;
}